$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$phone-page-padding: 16px;
$tablet-page-padding: 24px;
$footer-height: 40px;
$effect-duration: 0.3s;
$color-main-bg: #f9fafc;
$color-bg: #fff;
$color-text: #101313;
$color-secondary: #5e6265;
$color-success:#0b7c6b;
$color-primary: #1967D2;
$color-bg-active: #e8edf8;
$color-danger: #ff4e3e;
